@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  margin: 0;
}
td{
  padding: 10px !important;
}
.p-progressbar-determinate .p-progressbar-value{
  transition: all .4s ease-in-out !important;
}
.p-select-option{
  height: 35px !important;
}
tr{
  font-size: 0.875rem !important;
}
thead{
  user-select: none !important;
}